/* give your page a fun background color */
body {
  background-color: seagreen;
}
/* give your header and footer another background color */
h1 {
  background-color: darkred;
}
footer {
  background-color: teal;
}
/* define the font for your header */
h1 {
  font-family: monospace;
}
/* remove the bullets from your unordered list */
ul {
  list-style-type: none;
}
/* make your paragraph italic and a color that is not black */
p {
  font-style: italic;
  color: navy;
}
