body {
  background-color: cornflowerblue;
}
h1 {
  background-color: forestgreen;
  color: whitesmoke;
  font-family: Georgia, serif;
}

p {
  color: whitesmoke;
  font-family: Georgia, serif;
  font-style: italic; 

}
